<!DOCTYPE html>
<html>
<head>
  <title>PdfTemplate</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  
  <%= stylesheet_link_tag    'http://mindmup.github.io/bootstrap-wysiwyg/external/google-code-prettify/prettify.css', media: 'all' %>
  
  <%= stylesheet_link_tag    'http://netdna.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css', media: 'all' %>
  
    <%= stylesheet_link_tag    'http://netdna.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.css', media: 'all' %>
    
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js' %>
  
  <%= javascript_include_tag 'http://mindmup.github.io/bootstrap-wysiwyg/external/jquery.hotkeys.js' %>
  
  <%= javascript_include_tag 'http://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js' %>
  
  <%= javascript_include_tag 'http://mindmup.github.io/bootstrap-wysiwyg/external/google-code-prettify/prettify.js' %>
  
    <%= javascript_include_tag 'http://mindmup.github.io/bootstrap-wysiwyg/bootstrap-wysiwyg.js' %>
  		
  		
  		
  
  
  <!-- <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script> -->
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
 